{% extends 'layout.twig' %}

{% block content %}
<!-- Blog
        ================================================== -->
        <div id="blog" class="row">
          <div class="container">
            <h2><span class="glyphicon glyphicon-comment"></span> Blog</h2>
       {% if posts %}    
{% for post in posts %}
    {# {{dump(post)}} #}

            <div class="col-md-4">
              <div class="panel panel-default">
               <div class="panel-body">
                 <img src="img/placeholder.jpg" alt="Carousel slide" width="100%" height="20%">
                 <p class="blog-date pull-right"><i class="glyphicon glyphicon-calendar"></i>  <small>{{ post['author'] }}</small></p> <div class="clearfix" /></div>
                 <h2><a href='{{ app.request.baseUrl }}/blog/{{post['bid']}}'>{{ post['title'] }}</a></h2>
                 <p>{{ post['body'] }}</p>
                 <p><a class="pull-right" href="{{ app.request.baseUrl }}/blog/{{post['bid']}}">Read more &raquo;</a></p>
               </div>
             </div> 
           </div>
  {% endfor %}
{% else %}
    <p>No posts found.</p>
{% endif %}

    </div>
  </div>

{% endblock %}