{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <h6>{{ author }}</h6>
    <small> {{ date}} </small>
    <p> {{ body }} </p>
    <a href='{{ app.request.baseUrl }}/blog'>Back to blog homepage</a>
{% endblock %}