{% extends 'layout.twig' %}
{% set active = 'contact' %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block description %}Personalized description{% endblock %}
{% block keywords %}web developer, experienced, contact me, contact, send, message, inbox, ideas, comments, questions, answer{% endblock %}


{% block content %}
<h1><span class="glyphicon glyphicon-envelope"></span> {{ pageTitle }}</h1>

<div class="col-md-8">
{% if formStatus %}<div class={{ bgFormStatus }}>
<button class="close">×</button>
{{ formStatus }}</div>{% endif %}
    <form method="post" action="{{ app.url_generator.generate('contact') }}" enctype="application/x-www-form-urlencoded" role="form">


      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_row(form.name) }}
    </div>

    <div class="form-group">
      {{ form_row(form.email) }}
  </div>


  <div class="form-group">
   {{ form_row(form.message) }}
</div>
<input type="submit" class="btn btn-primary" value="Send message" id="submit" name="submit">
{{ form_rest(form) }}
</form>
</div>
<div class="col-md-4">
   <address>
      <strong><span class="glyphicon glyphicon-envelope"></span>  Address</h4></strong><br/>
      2014 Your Company<br/>
      1265 Charlerois<br/>
      G3K 1P2.<br/>
      <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span> 418-633-0990</abbr> 
  </address>   
</div>
{% endblock %}