{% extends 'layout.twig' %}
{% set active = 'contact' %}
{% block content %}
    <h1>{{ pageTitle }}</h1>
    <form method="post" action="{{ app.url_generator.generate('contact') }}" enctype="application/x-www-form-urlencoded">
 

                  {{ form_errors(form) }}
    {{ form_row(form.name) }}
      {{ form_row(form.email) }}
        {{ form_row(form.message) }}
    </form>
    <input type="submit" name="submit" />
{% endblock %}