{% extends 'layout.twig' %}
{% set active = 'feedback' %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block description %}Personalized description{% endblock %}
{% block keywords %}web developer, send, message, inbox, ideas, comments, questions, answer{% endblock %}


{% block content %}
<h1><span class="glyphicon glyphicon-envelope"></span> {{ pageTitle }}</h1>

<div class="col-md-12">
  {% if formStatus %}<div class={{ bgFormStatus }}>
  <button class="close">×</button>
  {{ formStatus }}</div>{% endif %}
  <form method="post" action="{{ app.url_generator.generate('feedback') }}" role="form">


    {{ form_errors(form) }}
    <div class="form-group">
      {{ form_row(form.name) }}
      {{ form_row(form.email) }}
      {{ form_row(form.message) }}
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Submit form" id="submit" name="submit">
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}